@font-face {
  font-family: G2Kosmos-Regular;
  src: url(G2Kosmos-Regular.woff) format("woff");
}

:root {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  letter-spacing: 0.02rem;
  background-color: white;

  --font-headers: "G2Kosmos-Regular";
  --color-main: #117f19;
  --color-accent: hotpink;
  --color-link: orange;
  --padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  letter-spacing: 0.2rem;
  text-transform: lowercase;
}

body {
  color: var(--color-main);
  margin: 0;
  padding: var(--padding);
  border-top: 0.7rem solid var(--color-main);
  border-bottom: 0.7rem solid var(--color-main);
}

nav {
  position: relative;
  bottom: var(--padding);
}

.bottom {
  top: var(--padding);
  bottom: 0rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
  border-bottom: 1px solid transparent; /* used to underline on hover */
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

a:hover {
  color: var(--color-accent);
  border-bottom-color: var(--color-accent);
  text-shadow: 0.2px 0.2px 0.5px var(--color-accent);
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
}

/* 
@font-face {
  font-family: G2Kosmos-Extended;
  src: url(G2Kosmos-Extended.woff) format("woff");
}

@font-face {
  font-family: G2Kosmos-Regular;
  src: url(G2Kosmos-Regular.woff) format("woff");
}
body,
html {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 98%;
  height: 98%;
}
h1 {
  font-family: "G2Kosmos-Extended";
  color: #117f19;
  font-size: 8vh;
  letter-spacing: 20px;
}

h2 {
  font-family: "G2Kosmos-Extended";
  color: #117f19;
  font-size: 30px;
  background-color: rgb(0, 255, 0);
}

h3 {
  font-family: "G2Kosmos-Extended";
  color: #117f19;
  font-size: 30px;
  background-color: hotpink;
}

strong {
  font-family: "G2Kosmos-Extended";
  font-size: 20px;
  background-color: orange;
}

.info {
  text-align: left;
}
a:hover {
  color: hotpink;
  font-size: 20px;
  text-decoration: underline;
}
a {
  font-family: "G2Kosmos-Extended";
  color: #117f19;
  text-decoration: none;
}
img {
  width: 40vw;
}
body {
  color: #117f19;
  background-color: white;
  font-family: "G2Kosmos-Regular";
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.7;
  text-align: left;
  word-break: keep-all;
}
p strong {
  background-color: hotpink;
}
a {
  color: orange;
}
a:hover {
  color: hotpink;
  font-size: 20px;
  text-decoration: underline;
}
hr {
  color: #117f19;
  background-color: #117f19;
  border: 0 none;
  height: 10px;
} 
  
*/
