@font-face {
  font-family: G2Kosmos-Regular;
  src: url(G2Kosmos-Regular.woff) format("woff");
}

:root {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  letter-spacing: 0.02rem;
  background-color: white;

  --font-headers: "G2Kosmos-Regular";
  --color-main: #117f19;
  --color-highlight: orange;
  --color-accent: hotpink;
  --color-heading: rgb(0, 255, 0);
  --padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  letter-spacing: 0.2rem;
  text-transform: lowercase;
  text-shadow: 0px 0px 1px var(--color-main);
}

p {
  max-width: 38rem;
}

body {
  color: var(--color-main);
  margin: 0;
  padding: var(--padding);
  border-top: 0.7rem solid var(--color-main);
  border-bottom: 0.7rem solid var(--color-main);

  /* grid experiment */
  height: 100vh; /* todo lower value? */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [top] auto [main] 1fr [bottom] auto;
}

nav {
  position: relative;
}

.top {
  bottom: var(--padding);
}

.bottom {
  top: var(--padding);
}

#main {
  /* TODO JULIE FLEXBOX HERE */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: stretch;
  /* align-content: stretch; */
}

#main > section {
  width: 100%;
}

#main h2 {
  border-top: 1px dashed var(--color-main);
  padding: 2rem 0;
  /* background-color: var(--color-heading); */
  /* border: 2px double var(--color-main); */
  /* border-radius: 1rem; */
  /* text-shadow: 0px 0px 1px var(--color-main), 0 0 3rem var(--color-heading),
    0 0 0.05rem var(--color-heading); */
}

section {
  /* TODO JULIE RESPONSIVE WITH FLEX */
  /* max-width: clamp() */
  /* border: 1px dashed var(--color-main); */
  /* border-radius: 0.5rem; */
  /* padding: 1rem; */
}

a {
  color: var(--color-highlight);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--color-accent);
  border-bottom: 1px dashed var(--color-accent);
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
}

/* 
@font-face {
  font-family: G2Kosmos-Extended;
  src: url(G2Kosmos-Extended.woff) format("woff");
}

@font-face {
  font-family: G2Kosmos-Regular;
  src: url(G2Kosmos-Regular.woff) format("woff");
}
body,
html {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 98%;
  height: 98%;
}
h1 {
  font-family: "G2Kosmos-Extended";
  color: #117f19;
  font-size: 8vh;
  letter-spacing: 20px;
}

h2 {
  font-family: "G2Kosmos-Extended";
  color: #117f19;
  font-size: 30px;
  background-color: rgb(0, 255, 0);
}

h3 {
  font-family: "G2Kosmos-Extended";
  color: #117f19;
  font-size: 30px;
  background-color: hotpink;
}

strong {
  font-family: "G2Kosmos-Extended";
  font-size: 20px;
  background-color: orange;
}

.info {
  text-align: left;
}
a:hover {
  color: hotpink;
  font-size: 20px;
  text-decoration: underline;
}
a {
  font-family: "G2Kosmos-Extended";
  color: #117f19;
  text-decoration: none;
}
img {
  width: 40vw;
}
body {
  color: #117f19;
  background-color: white;
  font-family: "G2Kosmos-Regular";
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.7;
  text-align: left;
  word-break: keep-all;
}
p strong {
  background-color: hotpink;
}
a {
  color: orange;
}
a:hover {
  color: hotpink;
  font-size: 20px;
  text-decoration: underline;
}
hr {
  color: #117f19;
  background-color: #117f19;
  border: 0 none;
  height: 10px;
} 
  
*/
